/* Responsive Design */

@media (min-width: 768px){

    /* Contacto, Formulario y RS - <aside> <form> <small> */

    .Formulario{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        label{
            padding: 20px;
            font-size: 2.5vw;
        }

        input{
            padding: 2vw;
            font-size: 2vw;
        }

        textarea{
            font-size: 2.5vw;
            padding: 20px;
        }

        .BotónDeEnvio{
            padding: 20px;

            button{
                padding: 10px;
                border-radius: 50px;
                background-color: orange;
                font-size: 2vw;
            }

            button:hover{
                cursor: pointer;
                background-color: orangered;
            }

        }

    }

    .RedesSociales{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        small{
            padding: 20px;
            font-size: 2vw;
            color: white;
        }

        img:hover{
            background-color: red;
        }

    }

}